@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.board {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top {
    height: 17vh;
}

.body {
    height: 83vh;
    width: 86vw;
    display: flex;
    flex-direction: row;
}

.backlog,
.todo,
.inprogress,
.done {
    margin: 1vw;
    padding: 1vw;
    background-color: #EDF5FE;
    width: 21vw;
    font-family: "Poppins";
    font-weight: 500;
    border-radius: 0.7vw;
}

.todo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pics {
    display: flex;
    flex-direction: row;
    height: 2vh;
    width: 4vw;
    justify-content: space-between;
    align-items: center;
}

.plus {
    height: 2vh;
    width: 1vw;
}

.collapse {
    height: 3vh;
    width: 1.5vw;
}

.backlog,
.inprogress,
.done {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}